* {
  margin: 0%;
  padding: 0%;
}

html , body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(27, 27, 27);
  color: rgb(229, 253, 255);
  display: flex;
}

.main-block {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.side-bar-block {
  width: 4%;
  height: 100vh;
  background-color: rgb(35, 35, 35);
}

.main {
  width: 96%;
  height: 100vh;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ai-chat {
  width: 95%;
  height: 85%;
  overflow-y: scroll;
}

.ai-chat::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.inform {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inform input {
  width: 90%;
  font: 1em sans-serif;
  padding: 5px;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inform button {
  font: 1em sans-serif;
  padding: 5px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mytext {
  background-color: rgb(82, 82, 82);
  color: rgb(233, 252, 255);
  width: max-content;
  margin: 5px;
  padding: 4px;
  border-radius: 3px;
}

.aitext {
  color: rgb(233, 252, 255);
  margin: 5px;
  padding: 4px;
}